|           filepath            |            function            | passed | SUBTOTAL |
| ----------------------------- | ------------------------------ | -----: | -------: |
| cat_api\images\test_images.py | TestImages.test_upload_image   |      1 |        1 |
| cat_api\images\test_images.py | TestImages.test_get_all_images |      1 |        1 |
| cat_api\images\test_images.py | TestImages.test_get_image      |      1 |        1 |
| cat_api\images\test_images.py | TestImages.test_delete_image   |      1 |        1 |
| TOTAL                         |                                |      4 |        4 |
